.image {
    position: relative;
    object-fit: cover;
    height: 66rem;
    width: 60rem;
    border-radius: 7px;
    /* outline: 4px solid saddlebrown ; */
    overflow: hidden;
    box-shadow: #00000030 0px 10px 20px, var(--primaryPurple) 0px 3px 4px;
}
.mainContainer {
    height: 90vh;
    display: flex;
}
.imageContainer {
    /* display: flex; */
    /* justify-content: center; */
    margin: 2rem;
    /* align-items: center; */
    background-color: var(--fadedPurple);
    /* border: 5px solid rgb(28, 196, 180); */
}

@media (max-width: 680px) {
    .image {
        width: 80vw;
        height: max(45vh, 80vw);
    }
}
.productsContainer {
    display: flex;
    box-sizing: border-box;
    background-color: rgb(203, 183, 154);
    flex-grow: 1;
    flex-wrap: wrap;
    /* padding: 1rem; */
    /* margin: 1rem; */
    /* height: 100%; */
    align-items: center;
    justify-content: center;
}
.productName {
    font-size: 3rem;
    text-align: left;
}
.price {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}
.content {
    font-size: 2rem;
    text-align: justify;
}
.detailsSection {
    line-height: 3rem;
    /* box-sizing: border-box; */
    /* display: flex; */
    padding: 2rem;
    border: 2px solid rgb(12, 160, 239);
    max-width: 60rem;
    flex-direction: column;
    max-height: 70rem;
    justify-content: center;
}
