.image {
    position: relative;
    object-fit: cover;
    height: 66rem;
    width: 57rem;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: #00000030 0px 10px 20px, var(--primaryPurple) 0px 3px 4px;
}
.mainContainer {
    display: flex;
    flex-grow: 1;
}
.imageContainer {
    margin: 2rem;
    /* padding: 2rem; */
    background-color: var(--fadedPurple);
    box-sizing: border-box;
}

.productsContainer {
    display: flex;
    background-color: var(--fadedPurple);
    box-sizing: border-box;
    /* padding: 1rem; */
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.detailsSection {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1rem;
    align-items: center;
    max-width: 80rem;
    height: max-content;
    height: 66rem;
    padding: 2rem;
    border: 2px solid rgb(103, 3, 136);
}

.productName {
    font-size: 3rem;
    text-align: left;
}
.price {
    font-size: 2rem;
    text-align: left;
    font-weight: 400;
}
.content {
    font-size: 2rem;
    text-align: justify;
}

@media (max-width: 958px) {
    .image {
        width: 85vw;
        height: max(45vh, 80vw);
    }
    .detailsSection {
        height: fit-content;
        justify-content: center;
        width: 80vw;
    }
}
@media (min-width: 1020px) {
    .productsContainer {
        flex-wrap: nowrap;
        /* flex-grow: 0; */
        /* flex-shrink: 1; */
    }
}
