.gallerybg {
    height: 90vh;
    width: 100vw;
    background: url("../public/gal_bg1.jpeg");
    background-size: contain;
}
.gallery {
    /* border: 3px solid red; */
    backdrop-filter: blur(4px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-type: block;
}
.art {
    box-sizing: border-box;

    border: 3px solid red;
}

.art:hover {
    /* transform: scale(0.9); */
    /* padding-bottom: 40px; */
}
.artcontainer {
    box-sizing: border-box;
}
.artcontainer:hover {
}

.greenOutline {
    /* border: 10px solid saddlebrown; */
    height: fit-content;
    width: fit-content;
}
.imagecontainer {
    width: 100%;
    height: 100%;
    outline: 10px solid black;
    /* display: flex; */
    /* align-self: center; */
    /* transform: scale(0.9); */
}

.anchortag {
    display: block;
    align-items: center;
    border-radius: 20px;
    /* filter: drop-shadow(16px 16px 10px black); */
    border: 3px solid rgb(217, 246, 4);
    justify-content: center;
    background-color: rgb(17, 11, 14);
    /* background: url("../public/frame.png"); */
    /* transform: scale(0.1); */
}

.swiperContainer {
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* filter: blur(8px); */
}
