@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;500;700&display=swap");

html,
body {
    padding: 0;
    margin: 0;
    font-size: 62.5%; /* 62.5% of 16px = 10px */
    font-family: "Montserrat", sans-serif;
    position: relative;
    --primaryPurple: #31093e;
    --primaryWhite: #ffffff;
    /* height: auto; */
    /* width: 320px; */
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 2rem;
}

* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
    }
}

.content {
    /* border: 5px solid rgb(229, 150, 12); */
    /* outline: 3px solid rgb(158, 222, 41); */
    /* position: relative; */
    min-width: 320px;

    /* width: 100%; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    /* background: url("../public/gal_bg1.jpeg") ; */
    /* background-size: cover; */
    backdrop-filter: blur(8px);
}

nav {
    /* margin: 10px auto 80px; */
    padding: 5px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid #ddd; */
    color: var(--primaryPurple);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primaryWhite);
    backdrop-filter: blur(8px);
    /* filter: opacity(80%); */
    width: 100%;
}
nav a {
    margin-left: 12px;
}
nav .logo {
    margin-right: auto;
    border: 1px solid rebeccapurple;
}
footer {
    height: 100px;
    background-color: var(--primaryWhite);
    color: var(--primaryPurple);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
