.borderRed {
    border: 2px solid red;
}

.borderGreen {
    border: 2px solid green;
}

.container {
    min-width: 300px;
    width: min(1440px, 90vw);
    /* border: 2px solid var(--primaryPurple); */
    min-height: 100vh;
    margin: auto;
    padding: 20px;
    background: var(--primaryWhite);
    backdrop-filter: blur(40px);
}
.background {
    background: url("../public/gal_bg1.jpeg");
}
.banner {
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.blur {
    backdrop-filter: blur(2px);
}
.headerTitle {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 4rem;
    display: inline-block;
    /* border: 2px solid rgb(17, 7, 94); */
    font-weight: 600;
}
.headerText {
    font-size: 7rem;
    border: 2px solid rgb(17, 7, 94);
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 10;
    background-color: var(--primaryWhite);
}
.bannerImageContainer {
    position: relative;
    width: 50vw;
    height: 580px;
    overflow: hidden;
    border: 2px solid rgb(186, 34, 29);
}
.bannerImage1,
.bannerImage2 {
    position: absolute;
    min-width: 300px;
    height: 75%;
    width: 60%;
}

.bannerImage1 {
    top: 0;
    background: antiquewhite;
}

.bannerImage2 {
    bottom: 0;
    right: 0;
    background: rgb(182, 107, 9);
}
.headerContainer {
    border: 2px solid rgb(9, 11, 11);
    display: flex;
    padding: 9px;
    width: 300px;
    z-index: 7;
}
.headerQuote {
    font-size: 2.5rem;
    z-index: 12;
    background-color: var(--primaryWhite);
}
@media (max-width: 558px) {
    .headerText {
        font-size: 5rem;
        font-weight: 300;
    }
    .container {
        padding: 5px;
    }

    .headerTitle {
        font-size: 3rem;
        font-weight: 600;
        padding: 10px;
        margin: 0;
    }
    .bannerImage1 {
        display: none;
    }
    .bannerImage2{
        position: static;
        height: 400px;
    }
 .bannerImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
 }
}
@media only screen and (max-width: 960px) {
    .bannerImageContainer {
        width: 90vw;

    }
}
