.flex {
    display: flex;
}

.flexCol {
    display: flex;
    flex-direction: column;
}
.flexCenter {
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 300px;
    width: min(1440px, 97vw);
    gap: 20px;
    min-height: 100vh;
    margin: auto;
    background: var(--primaryWhite);
    backdrop-filter: blur(40px);
}
.background {
    background: url("../public/gal_bg1.jpeg");
}
.banner {
    /* border: 2px solid red; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 20px;
}

.blur {
    backdrop-filter: blur(2px);
}

.verticalText {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
}

.headerText {
    font-size: 7rem;
    border: 2px solid rgb(17, 7, 94);
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 10;
    background-color: var(--primaryWhite);
}
.bannerImageContainer {
    position: relative;
    width: 50vw;
    height: 580px;
    overflow: hidden;
    padding: 20px;
    /* border: 2px solid rgb(186, 34, 29); */
}

.largeHeaderText {
    font-size: 4rem;
    font-weight: 600;
}
.titleFont {
    font-size: 5rem;
}
.midHeaderText {
    font-size: 3rem;
}

.bannerImage1,
.bannerImage2 {
    position: absolute;
    min-width: 330px;
    height: 70%;
    width: 50%;
}

.bannerImage1 {
    background: antiquewhite;
}

.bannerImage2 {
    background: rgb(182, 107, 9);
}
.headerContainer {
    border: 2px solid rgb(9, 11, 11);
    padding: 9px;
    width: 300px;
    z-index: 7;
}
.headerQuote {
    font-size: 2.5rem;
    z-index: 12;
    background-color: var(--primaryWhite);
}
.section {
    width: 100%;
    /* border: 3px solid rgb(19, 30, 240); */
}

@media (min-width: 768px) {
    .discoverMoreButton {
        padding: 12px 50px;
    }
}
.stopCollapse {
    display: flex;
    height: 400px;
}
.whatWeDoItem {
    display: flex;
    border: 3px solid cadetblue;
    flex-wrap: wrap;
    width: 90vw;
    max-width: 1300px;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    /* flex-direction: row-reverse; */
}
.whatWeDoItem:nth-child(even) {
    flex-direction: row-reverse;
}
.whatWeDoItem:nth-child(even) > * {
    /* background-color: rgb(37, 21, 21); */
    flex-direction: row-reverse;
}
.WWDText {
    max-width: 444px;
    padding: 20px;
    border: 2px dotted var(--primaryPurple);
}
.WWDTextContainer {
    height: 450px;
    /* border: 2px solid blue; */
    width: 35%;
    max-width: 100%;
    flex-grow: 1;
    padding: 20px;
}
.WWDImage {
    position: relative;
    /* border: 2px solid rgb(13, 182, 120); */
    background: rgb(228, 144, 10);
    height: 450px;
    width: 450px;
}

.contactContainer {
    display: flex;
    flex-grow: 1;
    height: 1000px;
    width: 100%;
    background: #000;
    min-height: 500px;
    background-image: url(../public/BWbg.jpg);
    filter: blur(2px);
    -webkit-filter: blur(3px);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.discoverMoreButton {
    border: none;
}
.discoverMoreButton {
    appearance: button;
    background-color: var(--primaryPurple);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--primaryWhite);
    cursor: pointer;
    display: inline-block;
    font-size: 1.9rem;
    font-weight: 500;
    overflow: visible;
    padding: 12px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.discoverMoreButton:focus {
    text-decoration: none;
}

.discoverMoreButton:hover {
    text-decoration: none;
}


.discoverMoreButton:not([disabled]):active {
    transform: translate(3px, 3px);
}

@media (max-width: 558px) {
    .headerText {
        font-size: 5rem;
        font-weight: 300;
    }
    .container {
        padding: 5px;
    }

    .headerTitle {
        font-size: 3rem;
        font-weight: 600;
        padding: 10px;
    }
    .bannerImage1 {
        display: none;
    }
    .bannerImage2 {
        position: static;
        height: 400px;
    }
    .bannerImageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
}
@media only screen and (max-width: 960px) {
    .bannerImageContainer {
        width: 90vw;
    }
}
