.flex {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: var(--gap, 2rem);
}

.header {
    background-color: rgb(49, 131, 169);
    width: 100vw;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    background-color: var(--primaryWhite);
    justify-content: space-between;
}

.PrimaryNav {
    padding: 0px 4rem;
    flex-shrink: 1;
    font-weight: 500;
    list-style-type: none;
}

.PrimaryNav li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.PrimaryNav a {
    color: var(--primaryPurple);
    margin-left: 12px;
    font-size: 1.2rem;
}
.PrimaryNav a:hover {
    color: var(--primaryBlack);
    border-bottom: 1.7px solid var(--fadedPurple);
}

.logo {
    margin-left: 1.8rem;
}
.mobileToggle {
    display: none;
    border: none;
}

@media (min-width: 964px) {
    .header {
        padding: 0;
    }
}
@media (max-width: 964px) {
    .PrimaryNav {
        position: fixed;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100vh;
        justify-content: space-between;
        align-items: flex-end;
        padding: min(40vh, 25rem) 7rem;
        inset: 0 0 0 25%;
        overflow: scroll;
        /* background: var(--fadedPurple); */
        /* color: aliceblue; */
        background-color: black;
        opacity: 90%;
        z-index: 10;
        transform: translateX(100%);
        transition: all 0.5s ease-out;
    }
    .PrimaryNav[data-visible="true"] {
        transform: translateX(0%);
    }
    .PrimaryNav a {
        color: var(--primaryWhite);

        font-size: 2rem;
        font-weight: 500;
    }
    .mobileToggle {
        display: block;
        position: absolute;
        background: rgb(115, 27, 177);
        width: 3rem;
        aspect-ratio: 1;
        top: 15px;
        right: 15px;
        z-index: 20;
    }
    .mobileToggle[aria-expanded="true"] {
        background: rgb(30, 20, 162);
    }
}
