.flex {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: var(--gap, 2rem);
}

.header {
    background-color: rgb(49, 131, 169);
    width: 100vw;
    /* height: 60rem; */
    align-items: center;
    background-color: var(--primaryWhite);
    justify-content: space-between;
}

.PrimaryNav {
    padding: 0px 4rem;
    flex-shrink: 1;
    font-weight: 500;
    list-style-type: none;
    /* overflow: scroll; */
}

.PrimaryNav li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}
.PrimaryNav a {
    color: var(--primaryPurple);
    margin-left: 12px;
    font-size: 1.2rem;
}
.PrimaryNav a:hover {
    color: var(--primaryBlack);
    border-bottom: 1.7px solid var(--fadedPurple);
}
.logo {
    /* margin-right: auto; */
    /* border: 2px solid rebeccapurple; */
    /* width: 100%; */
    margin-left: 1.6rem;
    /* height: 50px; */
}
.mobileToggle {
    display: none;
    border: none;
}

@media (max-width: 964px) {
    .PrimaryNav {
        position: fixed;
        flex-direction: column;
        /* justify-content: space-evenly; */
        align-items: flex-end;
        padding: min(30vh, 15rem) 2em;
        inset: 0 0 0 25%;
        /* background: rgba(108, 82, 124, 0.2); */
        overflow: scroll;
        background: var(--fadedPurple);
        --gap: 2em;
        z-index: 10;
        transform: translateX(100%);
        transition: all 0.5s ease-out;
    }
    .PrimaryNav[data-visible="true"] {
        transform: translateX(0%);
    }
    .PrimaryNav a {
        font-size: 2rem;
        font-weight: 500;
    }
    .mobileToggle {
        display: block;
        position: absolute;
        background: red;
        width: 3rem;
        aspect-ratio: 1;
        top: 1rem;
        right: 1rem;
        z-index: 20;
    }
    .mobileToggle[aria-expanded="true"] {
        background: greenyellow;
    }
}
